<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Template-Driven Form Validation</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
                    <div class="form-group">
                        <label for="firstName">Customer Name</label>
                        <input type="text" class="form-control" name="cName" [(ngModel)]="customer.cName" #cName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cName.invalid }" required />
                        <div *ngIf="f.submitted && cName.invalid" class="invalid-feedback">
                            <div *ngIf="cName.errors['required']">Customer Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city"></label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="customer.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                        <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                            <div *ngIf="city.errors['required']">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="customer.email" #emails="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emails.invalid }" required email />
                        <div *ngIf="f.submitted && emails.invalid" class="invalid-feedback">
                            <div *ngIf="emails.errors['required']">Email is required</div>
                            <div *ngIf="emails.errors['email']">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="mobile">Mobile</label>
                      <input type="text" class="form-control" name="mobile" [(ngModel)]="customer.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required pattern="[6789][0-9]{9}" />
                      <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                          <div *ngIf="mobile.errors['required']">Mobile No is Required</div>
                          <div *ngIf="mobile.errors['pattern']">Invalid Mobile No</div>
                      </div>
                  </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="customer.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors['required']">Password is required</div>
                            <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  
